body {
    margin: 0;
    padding: 0;
}

/* header {
    display: flex;
    flex-direction: column;
} */

/* 
Flex-direction is row -> justify content -> x
Flex-direction is column -> justify content -> y
 */

 /* 
Flex-direction is row -> align-items -> y
Flex-direction is column -> align-items -> x
 */

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: flex-start; */
    /* align-items: baseline; */
    height: 100vh;
    background-color: red;
}

.box {
    height: 200px;
    background-color: orange;
}

/* 3:2:1 */

.box:nth-child(1) {
    flex-grow: 1;
    order: 2;
    align-self: flex-end;
}

.box:nth-child(2) {
    flex-grow: 1;
    order: 1;
}

.box:nth-child(3) {
    flex-grow: 1;
    order: 3;
}


/* For Small Screen */
/* @media screen and (min-width: 640px) {
    header {
        background-color: green;
    }
} */

/* For Medium Screen */
/* @media screen and (min-width: 768px) {
    header {
        background-color: blue;
    }
} */

/* For Normal Screen */
/* @media screen and (min-width: 1024px) {
    header {
        background-color: red;
    }
} */


/* For Large Screen */
/* @media screen and (min-width: 1280px) {
    header {
        background-color: yellow;
    }
} */

/* For Extra Large Screen */
/* @media screen and (min-width: 1536px) {
    header {
        background-color: orange;
    }
} */

/* @media print {
    header {
        background-color: gold;
    }
} */